{% extends 'base.html' %}

{% block title %}
Eliminar empleado
{% endblock title %}

{% block content %}
{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x" style="margin-top: 30px;">
        <h1 class="cell" style=" text-align: center;">¿Eliminar Empleado {{object.full_name}}?</h1>
        <form class="cell" method="POST">{%csrf_token%}

            <div class="callout alert" style="margin-top: 30px;">
                <h5>¿Está seguro?</h5>
                <p>Se perderá todo registro y relación del empleado en la base de datos.</p>
                <button type="submit" class="alert button">Confirmar</button>
            </div>



        </form>
    </div>
</div>



{% endblock content %}