{% extends 'base.html' %}


{% block title %}
Actualización de Empleados
{% endblock title %}


{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Modifiar Datos</h1>
        <div class="cell">
            <form method="POST" class="grid-x grid-margin-x">{%csrf_token%}

                <div class="large-6 cell">
                    <label>Nombres
                        {{form.first_name}}
                    </label>
                </div>
                <div class="large-6 cell">
                    <label>Apellidos
                        {{form.last_name}}
                    </label>
                </div>
                <div class="large-6 cell">
                    <label>Trabajo
                        {{form.job}}
                    </label>
                </div>
                <div class="large-6 cell">
                    <label>Departamento
                        {{form.departamento}}
                    </label>
                </div>
                <div class="large-6 cell">
                    <label>Habilidades
                        {{form.habilidades}}
                    </label>
                </div>
                <div class="cell">
                    <button type="submit" class="success button">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}